:root {
    /* time must be in ms */
    --tile-move-time: 1000ms;
}

.slicer-main-wrapper {
    position: relative;
    display: block;
    justify-content: left;
    align-items: center;
    margin: auto;
    top: 0;
    left: 0;
    min-width: 0;
    min-height: 0;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    /* -webkit-transition: top var(--tile-move-time), ease;
    -moz-transition: top var(--tile-move-time) ease;
    -ms-transition: top var(--tile-move-time) ease;
    -o-transition: top var(--tile-move-time) ease;
    transition: top var(--tile-move-time) ease; */
}

.slicer-transition-overflow {
    overflow: hidden;
}

.slicer-grid-wrapper {
    position: relative;
    display: flex;
    overflow: visible;
    /* min-width: 100%; */
    /* justify-content: center;
    align-items: center; */
    margin: auto;
}

.slicer-grid-wrapper > img {
    display: 'none';
    width: 100%;
    max-width: 100%;
}

.slicer-grid-item {
    position: absolute;
    display: none;
    padding: 0px;
    object-fit: contain;
    /* width: fit-content;
    height: fit-content; */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    -webkit-transition: -webkit-transform var(--tile-move-time) ease;
    -moz-transition: -moz-transform var(--tile-move-time) ease;
    -ms-transition: -ms-transform var(--tile-move-time) ease;
    -o-transition: -o-transform var(--tile-move-time) ease;
    transition: transform var(--tile-move-time) ease;
}

#loader-spinner {
    position: absolute;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}
/* .item:hover {
    background-color: orange; 
} */
